#resolved, #remove {
    width: 40px;
}

#add-bug-btn {
    margin-left: 1px!important;
}

input:active, input:focus {
    outline-style:  dotted!important;
}

.list-group>div:nth-child(even) {
    background-color: whitesmoke!important;
}

.list-group>div:nth-child(odd) {
    background-color: floralwhite!important;;
}

h1 {
    font-weight: 800!important;
    font-size: 3.2rem!important;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    padding: 5px 0px;
    background: #16BFFD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}